<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NutriYa</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/estilo-principal.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top px-3 ">
    <div class="container-fluid">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <a class="navbar-brand" th:href="@{nutriya}">Nutri<span style="color: #38BD48;">Ya</span></a>
            <form class="d-none d-lg-flex mx-auto" role="search" style="width: 40%;">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Buscá comidas, restaurantes..."
                           aria-label="Buscar"/>
                    <button class="btn buscar" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <div class="botones-nav">
                <a class="btn btn-outline-secondary mx-1" th:href="@{nutriya-login}">
                    <i class="bi bi-person"></i>
                </a>
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#menuLateral" aria-controls="menuLateral">
                    <i class="bi bi-list"></i>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="menuLateral" aria-labelledby="menuLateralLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="menuLateralLabel">Opciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav gap-2">
            <li class="nav-item">
                <a class="nav-link" th:href="@{nutriya}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{pedido}">Comidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{restaurantes}">Restaurantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mis-pedidos}">Mis pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/medios-pago}">Medios de Pago</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{nutriya-login}">Mi Perfil</a>
            </li>
        </ul>
    </div>
</div>

<main class="flex-fill d-flex justify-content-center align-items-center">
    <div class="container p-4" style="max-width: 500px; width: 100%;">
        <form th:action="@{/nutriya-login}" th:object="${loginDTO}" method="post"
              class="shadow bg-body-tertiary p-5 contenedor-verde" style="background-color: white">
            <div class="mb-3">
                <label for="inputEmail" class="form-label">Email</label>
                <input th:field="*{email}" type="email" class="form-control" id="inputEmail"
                       aria-describedby="emailHelp"
                       placeholder="ejemplo@dominio.com" required>
            </div>
            <div class="mb-3">
                <label for="inputPassword" class="form-label">Contraseña</label>
                <input th:field="*{password}" type="password" class="form-control" id="inputPassword">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recordar mis datos</label>
            </div>
            <div class="d-flex flex-column gap-3 mb-3">
                <span>¿No tenés cuenta?<a class="link-verde mx-1"
                                          th:href="@{nutriya-register}">Registrate</a></span>
                <button type="submit" class="btn btn-green">Iniciar Sesión</button>
            </div>
            <div th:if="${errorLogin}" class="alert alert-danger" role="alert" th:text="${errorLogin}"></div>
        </form>
    </div>
</main>
<footer class="d-flex justify-content-between align-items-center p-4 footer">
    <div class="fw-light">
        © 2025 NutriYa
    </div>

    <div class="fw-semibold">
        <a href="#">Política de privacidad</a>
        <span class="mx-2">|</span>
        <a href="#">Términos de uso</a>
    </div>

    <div>
        <a href="#" class="mx-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="mx-2"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="mx-2"><i class="bi bi-instagram"></i></a>
    </div>
</footer>


<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>

</html>