<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>Perfil Cliente - NutriYa</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/estilo-principal.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100 justify-content-center">
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top px-3">
    <div class="container-fluid">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <a class="navbar-brand" th:href="@{/nutriya}">Nutri<span style="color: #38BD48;">Ya</span></a>
            <form class="d-none d-lg-flex mx-auto" role="search" style="width: 40%;">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Buscá comidas, restaurantes..."
                           aria-label="Buscar"/>
                    <button class="btn buscar" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <div class="botones-nav">
                <a class="btn btn-outline-secondary mx-1" th:href="@{/nutriya-login}">
                    <i class="bi bi-person"></i>
                </a>

                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#menuLateral" aria-controls="menuLateral">
                    <i class="bi bi-list"></i>
                </button>
            </div>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-end" tabindex="-1" id="menuLateral" aria-labelledby="menuLateralLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="menuLateralLabel">Opciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav gap-2">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/nutriya}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/pedido}">Comidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/restaurantes}">Restaurantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/mis-pedidos}">Mis pedidos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/medios-pago}">Medios de Pago</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/nutriya-login}">Mi Perfil</a>
            </li>
        </ul>
    </div>
</div>
<main class="d-flex flex-column justify-content-center align-items-center">
    <div class="card contenedor-verde w-100 p-5 shadow my-3" style="max-width: 900px; margin-top: 100px !important;">
        <h1 class="titulo-verde">Perfil del Cliente</h1>
        <div class="d-flex flex-column my-3">
            <div class="mb-2">
                <p class="mb-1 fw-bold">Nombre</p>
                <p class="form-control" th:text="${usuario.nombre}">Nombre ejemplo</p>
            </div>
            <div class="mb-2">
                <p class="mb-1 fw-bold">Email</p>
                <p class="form-control" th:text="${usuario.email}">email@ejemplo.com</p>
            </div>
            <div class="mb-1">
                <p class="mb-1 fw-bold">Edad</p>
                <p class="form-control" th:text="${usuario.edad}">Descripción del restaurante</p>
            </div>
            <div class="mb-1">
                <p class="mb-1 fw-bold">Objetivo</p>
                <p class="form-control" th:text="${usuario.objetivo}">Objetivo</p>
            </div>
            <div class="mb-1">
                <p class="mb-1 fw-bold">Peso Actual</p>
                <p class="form-control" th:text="${usuario.pesoActual}">1000</p>
            </div>
            <div class="mb-1">
                <p class="mb-1 fw-bold">Peso Deseado</p>
                <p class="form-control" th:text="${usuario.pesoDeseado}">1000</p>
            </div>
            <div class="mb-1">
                <p class="mb-1 fw-bold">Altura</p>
                <p class="form-control" th:text="${usuario.altura}">260</p>
            </div>
            <p><strong>Etiquetas:</strong>
                <span th:each="tag : ${usuario.etiquetas}" th:text="${tag} + ' '">Etiqueta</span>
            </p>
            <div class="mb-1">
                <p class="mb-1 fw-bold">Direcciones</p>
                <div th:if="${usuario.direcciones != null}">
                    <div th:each="dir : ${usuario.direcciones}" class="form-control mb-2">
                        <span th:text="${dir.calle}">Calle</span>
                        <span th:text="${dir.numero}">123</span>,
                        <span th:text="${dir.localidad}">Localidad</span>
                    </div>
                </div>
                <div th:if="${usuario.direcciones == null or #lists.isEmpty(usuario.direcciones)}">
                    <p class="form-control">Sin direcciones registradas</p>
                </div>
            </div>

        </div>
        <div class="d-flex flex-wrap justify-content-center gap-4">
            <a class="btn btn-lg btn-green" th:href="@{/editar-usuario}">Editar</a>
            <a class="btn btn-lg btn-danger" th:href="@{/cerrar-sesion}">Cerrar Sesión</a>
        </div>
    </div>
</main>
<script type="text/javascript" th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>

</html>