<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Perfil Restaurante - NutriYa</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" th:href="@{/css/estilo-principal.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100 justify-content-center">
<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top px-3">
    <div class="container-fluid">
        <div class="d-flex w-100 justify-content-between align-items-center">
            <a class="navbar-brand" th:href="@{/restaurante/perfil}">Nutri<span style="color: #38BD48;">Ya</span></a>
            <form class="d-none d-lg-flex mx-auto" role="search" style="width: 40%;">
                <div class="input-group">
                    <input class="form-control" type="search" placeholder="Buscá comidas, restaurantes..."
                           aria-label="Buscar"/>
                    <button class="btn buscar" type="submit">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
            <div class="botones-nav">
                <a class="btn btn-outline-secondary mx-1" th:href="@{nutriya-login}">
                    <i class="bi bi-person"></i>
                </a>

                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#menuLateral" aria-controls="menuLateral">
                    <i class="bi bi-list"></i>
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="offcanvas offcanvas-end" tabindex="-1" id="menuLateral" aria-labelledby="menuLateralLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="menuLateralLabel">Opciones</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="navbar-nav gap-2">
            <li class="nav-item">
                <a class="nav-link" th:href="@{nutriya}">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{pedido}">Comidas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{restaurantes}">Restaurantes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" th:href="@{nutriya-login}">Mi Perfil</a>
            </li>
        </ul>
    </div>
</div>
<main class="d-flex flex-column justify-content-center align-items-center mx-2">
    <div class="card contenedor-verde w-100 p-5 shadow" style="max-width: 900px;">
        <h1 class="titulo-verde">Perfil del Restaurante</h1>
        <div class="d-flex justify-content-between align-items-center justify-content-center my-3">
            <div>
                <div class="mb-2">
                    <p class="mb-1 fw-bold">Nombre del Restaurante</p>
                    <p class="form-control" th:text="${usuario.nombre}">Restaurante Ejemplo</p>
                </div>
                <div class="mb-2">
                    <p class="mb-1 fw-bold">Email</p>
                    <p class="form-control" th:text="${usuario.email}">restaurante@ejemplo.com</p>
                </div>
                <div class="mb-1">
                    <p class="mb-1 fw-bold">Descripción del restaurante</p>
                    <p class="form-control" th:text="${usuario.descripcion}">Descripción del restaurante</p>
                </div>
                <div class="mb-2">
                    <p class="mb-1 fw-bold">Dirección</p>
                    <div class="form-control">
                        <span th:text="${usuario.calle}">Calle Falsa</span>
                        <span th:text="${usuario.numero}">123</span>,
                        <span th:text="${usuario.localidad}">Ciudad</span>
                    </div>
                </div>
                <div class="mb-0">
                    <p class="mb-1 fw-bold">Zona</p>
                    <p class="form-control" th:text="${usuario.zona}">Oeste</p>
                </div>
            </div>
            <div>
                <img class="rounded-4" th:if="${usuario.imagen != null}" th:src="@{${usuario.imagen}}"
                     alt="Imagen Restaurante"
                     style="max-width: 400px; width: 100%;"/>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center gap-4">
            <a class="btn btn-lg btn-green" th:href="@{/editar-usuario}">Editar</a>

            <form method="post" action="/pedidos/restaurante">
                <input type="hidden" name="id" th:value="${usuario.id}"/>
                <button class="btn btn-lg btn-green" type="submit">Pedidos</button>
            </form>
            <a class="btn btn-lg btn-green" th:href="@{/editarPlatos}">Gestionar Platos</a>
            <a class="btn btn-lg btn-green" th:href="@{/crear-plato}">Agregar Plato</a>
            <a class="btn btn-lg btn-danger" th:href="@{/cerrar-sesion}">Cerrar Sesión</a>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 1055">
        <div id="toastContainer"></div>
    </div>
</main>

<script src="/resources/core/js/mostrar-notificacion.js"></script>
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>
